USE [master]
GO
/****** Object:  Database [DbSistemaVentas7]    Script Date: 6/6/2026 20:35:36 ******/
CREATE DATABASE [DbSistemaVentas7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbSistemaVentas7', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ERP\MSSQL\DATA\DbSistemaVentas7.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DbSistemaVentas7_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ERP\MSSQL\DATA\DbSistemaVentas7_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbSistemaVentas7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbSistemaVentas7]
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Venta]    Script Date: 6/6/2026 20:35:37 ******/
CREATE TYPE [dbo].[EDetalle_Venta] AS TABLE(
	[IdInventario] [int] NULL,
	[Detalle] [varchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[EDetalle_Venta2]    Script Date: 6/6/2026 20:35:37 ******/
CREATE TYPE [dbo].[EDetalle_Venta2] AS TABLE(
	[IdInventario] [nvarchar](50) NULL,
	[Detalle] [varchar](100) NULL,
	[Precio] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[MontoTotal] [decimal](10, 2) NULL
)
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [int] NULL,
	[NombreCompleto] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Presupuesto] [decimal](10, 2) NULL,
	[PresupuestoInicial] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Apellidos] [nvarchar](50) NULL,
	[Nombres] [nvarchar](50) NULL,
	[CodigoCliente] [smallint] NOT NULL,
	[Presupuesto] [int] NULL,
	[PresupuestoInicial] [int] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdInventario] [nvarchar](50) NOT NULL,
	[Precio] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[SubTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTARIO]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTARIO](
	[IdInventario] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Cantidad] [int] NULL,
	[Proveedor] [varchar](50) NULL,
	[Precio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERMISO]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERMISO](
	[IdPermiso] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NULL,
	[NombreMenu] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Descripion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [varchar](50) NULL,
	[Clave] [varchar](50) NULL,
	[IdRol] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[CodigoCliente] [int] NULL,
	[NombreCliente] [varchar](100) NULL,
	[ModoPago] [varchar](50) NULL,
	[MontoTotal] [decimal](10, 2) NULL,
	[FechaRegistro] [datetime] NULL,
	[NumeroFact] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[VENTA] ([IdVenta])
GO
ALTER TABLE [dbo].[PERMISO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIO] ([IdUsuario])
GO
/****** Object:  StoredProcedure [dbo].[SP_ActualizarPresupuestoCliente]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ActualizarPresupuestoCliente]
    @CodigoCliente INT,
    @NuevoPresupuesto DECIMAL(18,2),
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Clientes
        SET Presupuesto = @NuevoPresupuesto
        WHERE CodigoCliente = @CodigoCliente;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el cliente para actualizar presupuesto.';
            RETURN;
        END

        SET @Resultado = 1;
        SET @Mensaje = 'Presupuesto actualizado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ISNULL(ERROR_MESSAGE(), 'Error al actualizar presupuesto.');
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarUsuario]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EditarUsuario](
@IdUsuario int,
@NombreCompleto varchar(100),
@Clave varchar(50),
@IdRol int,
@Respuesta bit output,
@Mensaje varchar(500) output
)
as
begin
	set @Respuesta = 0
	set @Mensaje = ''

	if not exists(select * from USUARIO where NombreCompleto = @NombreCompleto and IdUsuario != @IdUsuario)
	begin
		update USUARIO set
		NombreCompleto = @NombreCompleto,
		Clave = @Clave,
		IdRol = @IdRol
		where IdUsuario = @IdUsuario
		
		set @Respuesta = 1
		

	end
	else 
		set @Mensaje = 'No se puede repetir el Nombre para mas de un usuario'
end	

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarProducto]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_EliminarProducto](
@IdInventario int,
@Resultado int output,
@Mensaje varchar(500) output
)as
begin


	set @Resultado = 0
	set @Mensaje = ''
	declare @PasoReglas bit = 1


	if exists (select * from DETALLE_VENTA dv
	inner join INVENTARIO i on i.IdInventario = dv.IdInventario
	where i.IdInventario = @IdInventario
	)
	begin
		set @PasoReglas = 0
		set @Resultado = 0
		set @Mensaje = @Mensaje + 'No se puede eliminar porque se encuentra relacionado a una venta\n'
	end

	if (@PasoReglas = 1)
	begin
		Delete from INVENTARIO where IdInventario = @IdInventario
		set @Resultado = 1
	end
end  

GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarUsuario]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EliminarUsuario](
@IdUsuario int,
@Respuesta bit output,
@Mensaje varchar(50) output
)
as
begin
	set @Respuesta = 0
	set @Mensaje = ''
	declare @PasoReglas bit = 1


	if EXISTS (select * from VENTA v
	inner join USUARIO u on u.IdUsuario = v.IdUsuario
	where u.IdUsuario = @IdUsuario	
	)
	begin
		set @PasoReglas = 0
		set @Respuesta = 0
		set @Mensaje = @Mensaje + 'No se puede eliminar...El Usurio ya tiene ventas registradas\n'

	end

	if (@PasoReglas = 1)
	begin
		delete from USUARIO where IdUsuario = @IdUsuario
		set @Respuesta = 1
	end

end	

GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarCliente]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ModificarCliente]
    @CodigoCliente INT,
    @Nombres VARCHAR(100),
    @Apellidos VARCHAR(100),
    @PresupuestoInicial DECIMAL(18,2),
    @Presupuesto DECIMAL(18,2),
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- 1. SE ELIMINÓ LA LÍNEA: IF @Presupuesto > 0 SET @Presupuesto = 0;
        -- Ahora el SP guardará exactamente lo que envíes desde el formulario.

        -- Validar duplicados de código
        IF EXISTS (SELECT 1 FROM Clientes WHERE CodigoCliente = @CodigoCliente AND CodigoCliente <> @CodigoCliente)
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'El Código de cliente ya está registrado para otro cliente.';
            RETURN;
        END

        -- Actualizar
        UPDATE Clientes
        SET CodigoCliente = @CodigoCliente,
            Nombres = @Nombres,
            Apellidos = @Apellidos,
            PresupuestoInicial = @PresupuestoInicial,
            Presupuesto = @Presupuesto
        WHERE CodigoCliente = @CodigoCliente;

        SET @Resultado = 1;
        SET @Mensaje = 'Cliente modificado correctamente.';

    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarPresupeusto]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ModificarPresupeusto]
    @IdCliente INT,
    @CodigoCliente INT,
    @NombreCompleto VARCHAR(200),
    @Correo VARCHAR(200),
    @Presupuesto INT,
    @Resultado INT OUTPUT,
    @Mensaje VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Normalizar: si el presupuesto calculado es mayor a 0, guardamos 0
        IF @Presupuesto > 0
        BEGIN
            SET @Presupuesto = 0;
        END

        -- Validar que el CodigoCliente no exista en otro registro
        IF EXISTS (
            SELECT 1 FROM CLIENTE
            WHERE CodigoCliente = @CodigoCliente
              AND IdCliente <> @IdCliente
        )
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'El Código de cliente ya está registrado para otro cliente.';
            RETURN;
        END

        -- Actualizar cliente
        UPDATE CLIENTE
        SET
            CodigoCliente = @CodigoCliente,
            NombreCompleto = @NombreCompleto,
            Correo = @Correo,
            Presupuesto = @Presupuesto
        WHERE IdCliente = @IdCliente;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el cliente a modificar.';
            RETURN;
        END

        SET @Resultado = 1;
        SET @Mensaje = 'Cliente modificado correctamente.';
    END TRY
    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = ISNULL(ERROR_MESSAGE(), 'Error desconocido al modificar cliente.');
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[SP_ModificarProducto]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ModificarProducto](
@IdInventario int,
@Codigo varchar(50),
@Descripcion varchar (50),
@Proveedor varchar (50),
@Cantidad int,
@Precio decimal(10,2),
@Resultado int output,
@Mensaje varchar(500) output
)as
begin
	set @Resultado = 1
	If NOT EXISTS (select * from INVENTARIO where Codigo = @Codigo and IdInventario != @IdInventario)

		update INVENTARIO set
		Codigo = @Codigo,
		Descripcion = @Descripcion,
		Proveedor = @Proveedor,
		Cantidad = @Cantidad,
		Precio = @Precio
		where IdInventario = @IdInventario
	else
	begin
		set @Resultado = 0
		set @Mensaje = 'Ya existe producto con este codigo'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarCliente]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_RegistrarCliente](
@CodigoCliente int,
@Nombres varchar(100),
@Apellidos varchar(100),
@PresupuestoInicial decimal (10,2),
@Presupuesto decimal(10,2),
@Resultado bit output,
@Mensaje varchar(500) output
)
as
begin
	set @Resultado = 0
	If NOT EXISTS (select * from Clientes where CodigoCliente = @CodigoCliente)
	begin
		insert into Clientes(CodigoCliente, Nombres, Apellidos, PresupuestoInicial, Presupuesto) 
		values(@CodigoCliente, @Nombres, @Apellidos, @PresupuestoInicial, @Presupuesto)

		set @Resultado = 33
		set @Mensaje = 'Cliente registrado correctamente'
	end
	else
		begin
			set @Mensaje = 'El codigo de Cliente ya existe'
			set @Resultado = 0
		end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarProducto]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_RegistrarProducto](
@Codigo varchar(50),
@Descripcion varchar (50),	
@Cantidad int,
@Proveedor varchar(50),
@Precio decimal(10,2),
@Resultado bit output,
@Mensaje varchar(500) output
)as
begin
	If NOT EXISTS (select * from INVENTARIO where Codigo = @Codigo)
	begin
		insert into INVENTARIO(Codigo, Descripcion,Cantidad, Proveedor, Precio) values (@Codigo, @Descripcion, @Cantidad, @Proveedor, @Precio)
		set @Resultado = 1
	end
	else
		begin
			set @Mensaje = 'Ya existe Producto con este codigo'
			set @Resultado = 0
		end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_RegistrarUsuario]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_RegistrarUsuario](
@NombreCompleto varchar(100),
@Clave varchar(50),
@IdRol int,
@IdUsuarioResultado int output,
@Mensaje varchar(500) output
)
as
begin
	set @IdUsuarioResultado = 0
	set @Mensaje = ''

	if not exists(select * from USUARIO where NombreCompleto = @NombreCompleto)
	begin
		insert into USUARIO(NombreCompleto, Clave, IdRol) values
		(@NombreCompleto, @Clave, @IdRol)
		set @IdUsuarioResultado = SCOPE_IDENTITY()
		

	end
	else 
		set @Mensaje = 'No se puede repetir el Nombre para mas de un usuario'
end	

GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteVenta]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ReporteVenta](
    @FechaInicio VARCHAR(10),
    @FechaFin VARCHAR(10)
)
AS
BEGIN 
    SET DATEFORMAT mdy;
    
    SELECT 
        CONVERT(CHAR(10), v.FechaRegistro, 103) [FechaRegistro], 
        v.IdUsuario, 
        v.IdVenta,
        v.NombreCliente, 
        v.ModoPago,
        -- Total real de los productos comprados
        ISNULL((SELECT SUM(dv.SubTotal) FROM DETALLE_VENTA dv WHERE dv.IdVenta = v.IdVenta), 0) AS MontoTotal,
        
        -- Cálculo de cuánto se gastó del presupuesto
        CASE 
            WHEN v.MontoTotal <= 0 THEN ISNULL((SELECT SUM(dv.SubTotal) FROM DETALLE_VENTA dv WHERE dv.IdVenta = v.IdVenta), 0)
            ELSE ISNULL((SELECT SUM(dv.SubTotal) FROM DETALLE_VENTA dv WHERE dv.IdVenta = v.IdVenta), 0) - v.MontoTotal
        END AS PresupuestoGastado,

        -- Lo que pagó adicional (si superó el presupuesto)
        CASE 
            WHEN v.MontoTotal > 0 THEN v.MontoTotal
            ELSE 0 
        END AS Extra
    FROM VENTA v
    WHERE CONVERT(DATE, v.FechaRegistro) BETWEEN @FechaInicio AND @FechaFin
END

GO
/****** Object:  StoredProcedure [dbo].[usp_RegistrarVenta]    Script Date: 6/6/2026 20:35:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_RegistrarVenta]
(
    @IdUsuario int,
    @NumeroFact int,
    @CodigoCliente int,
    @NombreCliente varchar(100),
    @MontoTotal decimal(10,2),
    @ModoPago varchar(50),
    @FechaRegistro datetime,
    @DetalleVenta [EDetalle_Venta2] READONLY,
    @Resultado bit output,
    @Mensaje varchar(500) output
)
AS
BEGIN
    BEGIN TRY
        DECLARE @IdVenta INT = 0
        SET @Resultado = 1
        SET @Mensaje = ''

        BEGIN TRANSACTION registro

        INSERT INTO VENTA(IdUsuario, NumeroFact, CodigoCliente, NombreCliente, ModoPago, MontoTotal, FechaRegistro)
        VALUES (@IdUsuario, @NumeroFact, @CodigoCliente, @NombreCliente, @ModoPago, @MontoTotal, @FechaRegistro)

        SET @IdVenta = SCOPE_IDENTITY()

        INSERT INTO DETALLE_VENTA(IdVenta, IdInventario, Cantidad, Precio, SubTotal)
        SELECT @IdVenta, IdInventario, Cantidad, Precio, MontoTotal FROM @DetalleVenta

        COMMIT TRANSACTION registro
    END TRY
    BEGIN CATCH
        SET @Resultado = 0
        SET @Mensaje = ERROR_MESSAGE()
        ROLLBACK TRANSACTION registro;
    END CATCH
END
GO
USE [master]
GO
